<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: ""}) %>

<body>

        <!-- header -->
	    <%- include('partials/header-navbar') %>
	    <!-- /header -->

<div class="slider-container">  

    <ul class="slider">
        <li id="slide1">
          <img src="/img/fondoHeader4.jpg"/>
        </li>
        <li id="slide2">
          <img src="/img/fondoHeader2.jpg"/>
        </li>
        <li id="slide3">
          <img src="/img/fondoHeader5.jpg"/>
        </li>
      </ul>
      
      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
         <li>
          <a href="#slide3">3</a>
        </li>
      </ul>

    <br>
    <br>
<main>
    <section> 
        <h2>Nuestros productos</h2>
        <hr>
    <div class="div-ofertas">


            <% 
            
            let contador = 0

            productos.forEach(producto => { 

            contador = contador + 1
            
            if (contador % 4 == 0 ){ %>
                </section> 
                <br><br>
                <section> 
                    <h2 class="nombre-seccion"> 80% en la 2da unidad de alimentos seleccionados </h2>  
                    <div class="div-ofertas">  
                        <article>
                            <img class="img-oferta" src="/img/oferta-80.jpg">
                        </article>                        
            <%
            }
                
            %>

            <article class="imagenProducto"> 
                <a href="productos/detalle_producto/<%=producto.id%>"> 
                <img class="img-oferta2" src ="/img/<%=producto.nombreImagen%>"></a>
                <div class="div-precio">
                    <h3 class="productos"><%=producto.descripcion%><br>"<%=producto.marca%>"</h3> 
                </div>
                <br>
                <div class="div-ofertas1">
                    <p class="precio"><%=producto.precio%><p>
                 <p class="precio-queda"><%=producto.precioDescuentoLeyenda%></p>  
                </div>
                <button class= "boton-carrito">AÑADIR AL CARRITO</button>
                <br>
                <br>
            </article>
            <% }) %>
        </div>
        <hr>

<div class="contenedor-articulo">
        <article> 
                <div class="contenedor-articulo2">
                    <img class ="imagen3" src = "/img/fondoHeader.jpg" /* sytle="float:left;" */> 
                   <div class="texto-contenedor"> <h2 class="texto-cont-articulo">PEDINOS TU PICADA COMO MÁS TE GUSTE</h2>   </div>
                </div>
        </article>
</div>

    </section>
</main>
<hr>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>