<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: ""}) %>

<body>

        <!-- header -->
	    <%- include('partials/header-navbar') %>
	    <!-- /header -->

<div class="slider-container">  

    <ul class="slider">
        <li id="slide1">
          <img src="/img/fondoHeader4.jpg"/>
        </li>
        <li id="slide2">
          <img src="/img/fondoHeader2.jpg"/>
        </li>
        <li id="slide3">
          <img src="/img/fondoHeader5.jpg"/>
        </li>
      </ul>
      
      <ul class="menu">
        <li>
          <a href="#slide1">1</a>
        </li>
        <li>
          <a href="#slide2">2</a>
        </li>
         <li>
          <a href="#slide3">3</a>
        </li>
      </ul>
    </div>

    <br>
    <br>
<main>
    <section> 
        <h2>Nuestros productos</h2>
        <hr>
    <div class="div-ofertas">


            <% 
            
            let contador = 0

            productos.forEach(producto => { 

            contador = contador + 1
            
            if (contador % 7 == 0 ){ %>
                </section> 
                <br><br>
                <section>  
                    <div class="div-ofertas" style="display: none;">  
                        <article >
                            <img class="img-oferta" src="/img/oferta-80.jpg">
                        </article>                        
            <%
            }
                
            %>

            <article class="imagenProducto"> 
                <a href="productos/detalle_producto/<%=producto.id%>"> 
                <img class="img-oferta2" src ="/img/<%=producto.nombreImagen%>"></a>
                <div class="div-precio">
                    <h3 class="productos"><%=producto.descripcion%><br>"<%=producto.marca%>"</h3> 
                </div>
                <br>
                <div class="div-ofertas1">
                    <p class="precio"><%=producto.precio%><p>
                 <p class="precio-queda"><%=producto.precioDescuentoLeyenda%></p>  
                </div>
                <br>
                <br>
            </article>
            <% }) %>
        </div>
        <hr>
        <a href="/productos"><button style="color: #000; background: #5cab60; border-radius: 10px; padding: 3px; margin: 4px;">Ver todos</button></a>
<br>
<br>
                </section>

    <section> 
      <div class="contenedor-articulo1">
      <img src="/img/platalac.jpg" class="imagen1" alt="Foto de Ejemplo"/>
      <div style="background-color: #ebebeb;" class="contenedorPlatalac">
      <h2 style="color: rgba(0, 128, 0, 0.804); font-size: 25px; text-align: center; padding-top: 15%;">SOMOS REPRESENTANTES OFICIALES</h2><br> 
      <p class="parrafo-imagen" style="color: black; text-decoration: solid; text-align: center; padding: 20px;">
        En el año 2009, la empresa DIAZLAC SRL inicia sus actividades en la ciudad de Estación Díaz, Santa Fe. <br>
        A fines del año 2011 se lanzó la marca “Platalac”, que abarca el procesamiento de diferentes tipos de queso: <br>
        "Pasta dura, semidura y blanda". <br>
          </p> 
      <p class="parrafo-imagen" style="color:#e63e4a;font-weight: bold; text-align: center;">Desde ese tiempo tenemos el agrado de trabajar estos productos directo de fabrica, lo que nos permite comercializarlos y llegar a ustedes con un precio mas accesible.  
     </p>
      <div style="text-align: center; margin-top: 20px ;">
      <a href="/productosPlatalac"><button class="botonIndex">Ver productos</button></a>
      </div>
      </div>
        </div>
    </section> 

<br>
    <section>
      <div class="contenedor-articulo1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.1559398158565!2d-60.59238552510632!3d-33.911385921264404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b84ab65b3dc7cd%3A0x3c397a6728a8c047!2sAv.%20Ernesto%20Illia%202606%2C%20Pergamino%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1689641594893!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="imagen1" ></iframe>
      <div style="background-color: #ebebeb;" class="contenedorPlatalac" >
      <h2 style="color: rgba(0, 128, 0, 0.804); font-size: 25px; text-align: center; padding-top: 15%;">FIAMBRERÍA PREZZI PAZZI</h2><br> 
      <p class="parrafo-imagen" style="color: black; text-decoration: solid; text-align: center; padding: 20px;"> 
        La fiambrería se encuentra situada en AVENIDA ILLA 2606, PERGAMINO - BUENOS AIRES. Abrimos nuestras puertas en el año 2019, realizando ventas mayoristas y minoristas dentro de la localidad.</p> 
      <p class="parrafo-imagen" style="color:#e63e4a;font-weight: bold; text-align: center;">
        El horario de atención al cliente es de:</p> <br>
       <p style="text-align: center; color: #000; text-decoration: solid;" class="parrafo-imagen"> Lunes a sabados: </p> <br>
        <ul style="text-align: center;" class="parrafo-imagen">
        <li>9:00 a 13:00 hs</li>
        <li >16:00 a 20:00 hs</li>
        </ul>
      <div style="text-align: center; margin-top: 20px ;">
      <a href="/quienesSomos"><button class="botonIndex">Sobre nosotros</button></a>
      </div>
      </div>
        </div>
    </section>

</main>
    <br>
    <br>
<!-- wsp -->
	<%- include('partials/wsp') %>
<!-- /wsp -->

<!-- footer -->
	<%- include('partials/footer') %>
<!-- /footer -->
</body>

  




</html>